chat.jayeshdev.com {
    reverse_proxy rag_frontend:3000 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}

chat-backend.jayeshdev.com {
    reverse_proxy rag_backend:8080
}

chroma.jayeshdev.com {
    reverse_proxy chroma:8000
}