[Record_Manager]
db_url = sqlite:////Data/record_manager_cache.sql

[Embedding]
model_name = sentence-transformers/msmarco-bert-base-dot-v5
chunk_size = 1024

[Chroma]
host = chroma
port = 8000
collection_name = jayesh_embeddings

[Generation]
model_name = mistralai/Mixtral-8x7B-Instruct-v0.1
temperature = 0
max_tokens = 16384
