CHROMA_SERVER_AUTH_CREDENTIALS="CHROMA_KEY_YOU_WANT_TO_USE"
CHROMA_SERVER_AUTH_CREDENTIALS_PROVIDER="chromadb.auth.token.TokenConfigServerAuthCredentialsProvider"
CHROMA_SERVER_AUTH_PROVIDER="chromadb.auth.token.TokenAuthServerProvider"
IS_PERSISTENT=TRUE